<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="adminPortal.css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Data Entry System</title>
  </head>
  <body>
    <div>
      <div class="header">
        <div style="display: flex; width: 50%;">
          <div class="heading">Data Entry System</div>
        </div>
        <form id="btn" action="/logout" method="get">
          <div class="admin" id="user-mode-name">Administrator</div>
          <button
            type="submit"
            style="
              background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            "
            class="button-logout bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          >
            LOGOUT
          </button>
        </form>
      </div>

      <div class="bodyContainer">
        <div class="createCompany" onclick="(() => document.getElementById('createCompanyDivision').style.visibility = 'visible')()">
          <img src="./White CAdd Btn.png" alt="Add Company" class="createCompanyImg">
          <button class="companyButton" >Create New Company</button>
        </div>
        <div class="companyTable lg:text-2xl md:text-xl sm:text-base">
          <div id="employeeTableDivision" class="overflow-x-auto   ">
            <table class=" table_content ">
              <tr class="uppercase  table-heading-container" >
                <th >Emp ID</th>
                <th >Emp Name</th>
                <th >Emp Status</th>
                <th >Accessible Reports</th>
                <th >Created By</th>
                <th >Update Emp Status</th>
                <th >Update Report Access</th>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div id="createCompanyDivision" >
        <div class="createCompanyModalContent">
          <div id="createCompanyContentHolder" style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
            <h1 class="md:text-xl font-bold leading-tight tracking-tight text-gray-900 lg:text-2xl sm:text-xs dark:text-white mb-10" style="color: black; ">
              Create Company Account
            </h1>
            <form class="space-y-4 md:space-y-6" id="companyCreateForm">
                <div >
                  <label f style="color: black;"or="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter Company Name:</label>
                  <input type="text" required name="companyName" id="companyName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Company Name" >
                </div>
                <div >
                    <label style="color: black;" for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Create Username:</label>
                    <input type="text" required name="rootUserName" id="rootUserName" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter Username" >
                </div>
                <div >
                    <label style="color: black;" for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password:</label>
                    <input type="password" required name="rootPassword" id="rootPassword" placeholder="Password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div >
                    <label style="color: black;" for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password:</label>
                    <input type="password" required name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" >
                </div>
                <div class="buttonStyle lg:grid lg:grid-cols-2 lg:grid-rows-1 lg:gap-4 md:grid-rows-2 md:grid-cols-1 md:gap-3 sm:flex sm:grid-cols-2 sm:grid-rows-2 sm:row-gap-6 sm:justify-center sm:items-center ">
                  <button id="submitButton" onclick="validate(event)" class="2xl:h-20 lg:w-50 lg:h-20 sm:w-full md:h-20  text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" style="background-color: #2461e5;">Create an account</button>
                  <button id="submitButton" onclick="(() => document.getElementById('adminPortalForm').submit())()" class="2xl:h-20 lg:w-50 lg:h-20 sm:w-full md:h-20  text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" style="background-color: #2461e5;"> Cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div>

      <div id="createCompanySuccessDivision" style="border-radius: 12px;" >
        <div class="createCompanySuccessModalContent" style="display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: 15px;">
          <div id="createCompanySuccessContentHolder" style="display:flex; flex-direction: column; align-items: center; justify-content: center;">
            <p id="createCompanySuccessMessage"></p>
            <button class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg 
            text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 mr-2 mb-2" onclick="(()=> document.getElementById('adminPortalForm').submit())()">OK</button>
          </div>
        </div>
      </div>

      <form action="/adminPortal" id="adminPortalForm" method="post"></form>

    <script>
      function validate(event){
        event.preventDefault();
        var createCompanyForm = document.getElementById('companyCreateForm')
        if (!createCompanyForm.checkValidity()) {
          if (createCompanyForm.reportValidity) {
            createCompanyForm.reportValidity();
          } else {
            alert(msg.ieErrorForm);
          }
        } else {
          if(document.getElementById('rootPassword').value == document.getElementById('confirmPassword').value){
            createCompany()
          }else{
            // display passwords do not match
            console.log('passwords are not matching')
          }
        }
      }

      async function createCompany(){
        const companyName = document.getElementById('companyName').value
        const rootUserName = document.getElementById('rootUserName').value
        const rootPassword = document.getElementById('rootPassword').value
        
        const response = await fetch('/createCompany',{
          method: 'POST',
          headers: {
            'Content-type': 'application/json'
          },
          body: JSON.stringify({
            companyName: companyName,
            rootUserName: rootUserName,
            rootUserPassword: rootPassword
          })
        })

        if(response.status == 200){
          document.getElementById('createCompanySuccessMessage').innerHTML = 'Company created!'
          document.getElementById('createCompanySuccessDivision').style.visibility = 'visible'
        }else{
          document.getElementById('createCompanySuccessMessage').innerHTML = 'Error creating company. Try Again!'
          document.getElementById('createCompanySuccessDivision').style.visibility = 'visible'
        }
      }
    </script>
  </body>
</html>
