<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Chart</title>
  </head>
  <body>
    <h2><%= xvalues %></h2>
    <h2><%= yvalues %></h2>
    <canvas id="myChart" style="width: 100%; max-width: 700px"></canvas>
    <form action="/administrator" method="get">
      <button type="submit">Go Back</button>
    </form>
    <script>
      new Chart('myChart', {
        type: 'pie',
        data: {
          labels: '<%= xvalues %>',
          datasets: [
            {
              backgroundColor: ['#b91d47', '#00aba9', '#2b5797'],
              data: '<%= yvalues %>',
            },
          ],
        },
        options: {
          title: {
            display: true,
            text: 'Data Visualization',
          },
        },
      });
    </script>
  </body>
</html>
