<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./firstLayer.css" />
    <title>Body_Number</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
        <div class="user-mode">
          <p id="user-mode-name"><%= username %></p>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
        </div>
      </div>
      <div id="title-name-content">
        <p id="title-name">Select Category :</p>
      </div>
      <div class="main-content">
        <% for(let i = 0 ; i < bodyNumberOptions.length ; i++){ %>
        <form action="/selectcategory" method="post">
          <input
            type="hidden"
            name="selectedBodyNumber"
            value="<%= bodyNumberOptions[i] %>"
          />
          <button
            type="submit"
            class="form-content"
            id="first-layer-button<%= i+1 %>"
          >
            <%= bodyNumberOptions[i]%>
          </button>
        </form>
        <%}%>
      </div>
    </div>
  </body>
</html>
