<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./follower.css" />
    <title>Data Entry System</title>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../resources/tailwind.config.js"></script>
  </head>
  <body>
    <div>
      <!-- Header part  which contain user_name,  App_Name and LOGOUT btn  -->
      <div class="header">
        <div style="display: flex">
          <img
            src="./navBarIcon.png"
            title="Switch Mode"
            id="navBarIcon"
            alt="Switch Mode"
            style="cursor: pointer; width: 8%; margin: 0.5% 3%"
          />
          <div class="heading">Data Entry System</div>
        </div>

        <form id="btn" action="/logout" method="get">
          <div class="admin" id="user-mode-name"><%= username %></div>
          <button
            type="submit"
            style="
              background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
            "
            class="button-logout bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
          >
            LOGOUT
          </button>
        </form>
      </div>
      <!--  -->

      <div
        id="navBarDivision"
        style="
          position: fixed;
          display: none;
          width: 20%;
          height: 90%;
          background-color: #00adb5;
        "
      >
        <div
          id="DataEntryDiv"
          style="
            display: inline-block;
            width: 100%;
            height: 7.5%;
            cursor: pointer;
            background-color: #075154 !important;
          "
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
        >
          <p
            id="dataEntry"
            style="
              font-size: 130%;
              font-weight: 500;
              height: 100%;
              padding: 2px 10px;
            "
          >
            Data Entry
          </p>
        </div>
        <div
          id="ReportGenerationDiv"
          style="
            display: inline-block;
            width: 100%;
            height: 7.5%;
            cursor: pointer;
          "
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <p
            id="reportGeneration"
            style="
              font-size: 130%;
              font-weight: 500;
              height: 100%;
              padding: 2px 10px;
            "
          >
            Report Generation
          </p>
        </div>
        <div
          id="AdministrationDiv"
          style="
            display: inline-block;
            width: 100%;
            height: 7.5%;
            cursor: pointer;
          "
          onmouseover="onmouseoverBGColor(event)"
          onmouseout="onmouseoutBGColor(event)"
          onclick="handleFormSubmit(event)"
        >
          <p
            id="administration"
            style="
              font-size: 130%;
              font-weight: 500;
              height: 100%;
              padding: 2px 10px;
            "
          >
            Administration
          </p>
        </div>
      </div>

      <form action="/filter" id="filterFrom"></form>
      <form action="/admin" id="adminForm"></form>

      <div class="form-content">
        <form action="/firstlayer" method="post" id="bodyNumberForm">
          <label for="bodyNumber" id="bodyNumber">Enter Body Number :</label>
          <input
            type="number"
            name="bodyNumber"
            id="bodyNumberfield"
            maxlength="4"
            required
            min="1"
            autofocus
          />
          <input
            type="hidden"
            name="bodyNumberStatus"
            value=""
            id="bodyNumberStatus"
          />
          <button
            id="body-number-enter-button"
            type="button"
            onclick="submitBodyNumber()"
            class="enter bg-black text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-700 rounded"
          >
            ENTER
          </button>
          <button
            id="body-number-pass-button"
            type="button"
            onclick="passCar()"
            class="pass bg-black text-white font-bold py-2 px-4 border-b-4 border-gray-700 hover:border-gray-700 rounded"
          >
            PASS
          </button>
        </form>
      </div>
    </div>
    <div id="message-content">
      <span id="message"></span>
    </div>

    <script>
      var bodyNumberRecords;

      document.addEventListener('click', hideAndSeek);

      function hideAndSeek(event) {
        const navBarDivision = document.getElementById('navBarDivision');
        if (event.target.id !== 'navBarIcon') {
          navBarDivision.style.display = 'none';
        } else {
          if (navBarDivision.style.display == 'none') {
            navBarDivision.style.display = 'inline-block';
          } else {
            navBarDivision.style.display = 'none';
          }
        }
      }

      function onmouseoverBGColor(event) {
        event.target.style.backgroundColor = '#075154';
      }

      function onmouseoutBGColor(event) {
        if (event.target.id != 'dataEntry') {
          event.target.style.backgroundColor = '#00adb5';
        }
      }

      function handleFormSubmit(event) {
        if (event.target.id == 'reportGeneration') {
          document.getElementById('filterFrom').submit();
        } else if (event.target.id == 'administration') {
          document.getElementById('adminForm').submit();
        }
      }

      function submitBodyNumber() {
        var BodyNumberform = document.getElementById('bodyNumberForm');

        fetch('/bodyNumber', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            enteredBodyNumberValue:
              document.getElementById('bodyNumberfield').value,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            bodyNumberRecords = data;

            if (data.data.length == 0) {
              document.getElementById('bodyNumberStatus').value =
                'newBodyNumber';
              BodyNumberform.submit();
            } else {
              if (data.data[0].status == 'No Defect') {
                document.getElementById('message').innerHTML =
                  'Car already passed today';
                setTimeout(() => {
                  document.getElementById('message').innerHTML = '';
                }, 4000);
              } else {
                document.getElementById('bodyNumberStatus').value =
                  'existingBodyNumber';
                BodyNumberform.submit();
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }

      function passCar() {
        var BodyNumberform = document.getElementById('bodyNumberForm');

        fetch('/bodyNumber', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            enteredBodyNumberValue:
              document.getElementById('bodyNumberfield').value,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.data);
            if (data.data.length == 0) {
              if (confirm('Are you sure want to Pass the Car ?') == true) {
                document.getElementById('bodyNumberStatus').value =
                  'newBodyNumber';
                handlePassCarSave();
              }
            } else {
              if (data.data[0].status == 'No Defect') {
                document.getElementById('message').innerHTML =
                  'Car already passed today';
                setTimeout(() => {
                  document.getElementById('message').innerHTML = '';
                }, 4000);
              } else {
                document.getElementById('message').innerHTML =
                  'Car has defects today';
                setTimeout(() => {
                  document.getElementById('message').innerHTML = '';
                }, 4000);
              }
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }

      function handlePassCarSave() {
        var bodyNumberValue = document.getElementById('bodyNumberfield').value;
        var bodyNumberStatus =
          document.getElementById('bodyNumberStatus').value;

        fetch('/passcar', {
          method: 'POST',
          headers: {
            'Content-type': 'application/json',
          },
          body: JSON.stringify({
            bodyNumber: bodyNumberValue,
            bodyNumberStatus: bodyNumberStatus,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.status == 'success');
            alert('Car Passed with no defects');
            document.getElementById('bodyNumberForm').reset();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    </script>
  </body>
</html>
