<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./thirdLayer.css" />
    <title>Data Entry System</title>
  </head>
  <body>
    <div>
      <div class="nav-bar">
        <div class="user-mode">
          <div class="button-logout-content">
            <form action="/logout" method="get">
              <button type="submit" class="button-logout">Log-out</button>
            </form>
          </div>
          <div id="user-mode-name">
            <p><%= username %></p>
          </div>
        </div>
        <div class="app-name-div">
          <h2 id="app-name">Data Entry System</h2>
          <p class="selected-message">
            Body Number : <%= enteredBodyNumber %> | Category : <%=
            selectedCategory %> | Sub-Category : <%= selectedSubCategory %>
          </p>
        </div>
      </div>
      <div id="title-name-content">
        <img
          src="./arrow.png"
          id="go-back-icon"
          alt="Go Back"
          onclick="history.back()"
        />
        <p id="title-name">Select Defect Area :</p>
      </div>
      <div class="main-content">
        <form
          id="defectLayerForm"
          action="/receive-thirdLayer-temp"
          method="post"
        >
          <div class="defect-category-content">
            <button
              type="button"
              class="defect-category"
              style="background-color: #ffffff; color: black"
              onclick="defectCategorySwitch('surface')"
            >
              Surface
            </button>
            <button
              type="button"
              class="defect-category"
              onclick="defectCategorySwitch('bodyFitting')"
            >
              Body Fitting
            </button>
            <button
              type="button"
              class="defect-category"
              onclick="defectCategorySwitch('missingWrongPart')"
            >
              Missing & Wrong Part
            </button>
            <button
              type="button"
              class="defect-category"
              onclick="defectCategorySwitch('welding')"
            >
              Welding
            </button>
            <button
              type="button"
              class="defect-category"
              onclick="defectCategorySwitch('waterLeak')"
            >
              Water Leak
            </button>
          </div>
          <div class="sub-content">
            <div id="surface" class="defectName">
              <div>
                <button
                  type="button"
                  class="sub-defect-category surface-buttons"
                  style="background-color: #ffffff; color: black"
                  onclick="subdefectCategorySwitch(event,'surface-dent')"
                >
                  Dent
                </button>
                <button
                  type="button"
                  class="sub-defect-category surface-buttons"
                  onclick="subdefectCategorySwitch(event,'surface-bump')"
                >
                  Bump
                </button>
                <button
                  type="button"
                  class="sub-defect-category surface-buttons"
                  onclick="subdefectCategorySwitch(event,'surface-burrs')"
                >
                  Burrs
                </button>
                <button
                  type="button"
                  class="sub-defect-category surface-buttons"
                  onclick="subdefectCategorySwitch(event,'surface-spatters')"
                >
                  Spatters
                </button>
                <button
                  type="button"
                  class="sub-defect-category surface-buttons"
                  onclick="subdefectCategorySwitch(event,'surface-others')"
                >
                  Others
                </button>
              </div>
              <div class="zone-division">
                <div id="surface-dent" class="surface">
                  <div class="surfaceDent3" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent3"
                      name="surface_Dent"
                      value="3"
                    />
                    <p>3</p>
                  </div>
                  <div class="surfaceDent2" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent2"
                      name="surface_Dent"
                      value="2"
                    />
                    <p>2</p>
                  </div>
                  <div class="surfaceDent4" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent4"
                      name="surface_Dent"
                      value="4"
                    />
                    <p>4</p>
                  </div>
                  <div class="surfaceDent1" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent1"
                      name="surface_Dent"
                      value="1"
                    />
                    <p>1</p>
                  </div>
                  <div class="surfaceDent5" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent5"
                      name="surface_Dent"
                      value="5"
                    />
                    <p>5</p>
                  </div>
                  <div class="surfaceDent6" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent6"
                      name="surface_Dent"
                      value="6"
                    />
                    <p>6</p>
                  </div>
                  <div class="surfaceDent7" onclick="makeChecked(event)">
                    <input
                      type="checkbox"
                      id="surfaceDent7"
                      name="surface_Dent"
                      value="7"
                    />
                    <p>7</p>
                  </div>
                </div>
                <div id="surface-bump" class="surface" style="display: none">
                  <input type="checkbox" name="surface_Bump" value="1" />
                  <p>1</p>
                  <input type="checkbox" name="surface_Bump" value="2" />
                  <p>2</p>
                  <input type="checkbox" name="surface_Bump" value="3" />
                  <p>3</p>
                  <input type="checkbox" name="surface_Bump" value="4" />
                  <p>4</p>
                  <input type="checkbox" name="surface_Bump" value="5" />
                  <p>5</p>
                  <input type="checkbox" name="surface_Bump" value="6" />
                  <p>6</p>
                  <input type="checkbox" name="surface_Bump" value="7" />
                  <p>7</p>
                </div>
                <div id="surface-burrs" class="surface" style="display: none">
                  <input type="checkbox" name="surface_Burrs" value="1" />
                  <p>1</p>
                  <input type="checkbox" name="surface_Burrs" value="2" />
                  <p>2</p>
                  <input type="checkbox" name="surface_Burrs" value="3" />
                  <p>3</p>
                  <input type="checkbox" name="surface_Burrs" value="3" />
                  <p>4</p>
                  <input type="checkbox" name="surface_Burrs" value="4" />
                  <p>5</p>
                  <input type="checkbox" name="surface_Burrs" value="5" />
                  <p>6</p>
                  <input type="checkbox" name="surface_Burrs" value="6" />
                  <p>7</p>
                  <input type="checkbox" name="surface_Burrs" value="7" />
                </div>
                <div
                  id="surface-spatters"
                  class="surface"
                  style="display: none"
                >
                  <input type="checkbox" name="surface_Spatters" value="1" />
                  <p>1</p>
                  <input type="checkbox" name="surface_Spatters" value="2" />
                  <p>2</p>
                  <input type="checkbox" name="surface_Spatters" value="3" />
                  <p>3</p>
                  <input type="checkbox" name="surface_Spatters" value="4" />
                  <p>4</p>
                  <input type="checkbox" name="surface_Spatters" value="5" />
                  <p>5</p>
                  <input type="checkbox" name="surface_Spatters" value="6" />
                  <p>6</p>
                  <input type="checkbox" name="surface_Spatters" value="7" />
                  <p>7</p>
                </div>
                <div id="surface-others" class="surface" style="display: none">
                  <input type="checkbox" name="surface_Others" value="1" />
                  <p>1</p>
                  <input type="checkbox" name="surface_Others" value="2" />
                  <p>2</p>
                  <input type="checkbox" name="surface_Others" value="3" />
                  <p>3</p>
                  <input type="checkbox" name="surface_Others" value="4" />
                  <p>4</p>
                  <input type="checkbox" name="surface_Others" value="5" />
                  <p>5</p>
                  <input type="checkbox" name="surface_Others" value="6" />
                  <p>6</p>
                  <input type="checkbox" name="surface_Others" value="7" />
                  <p>7</p>
                </div>
              </div>
            </div>
            <div id="bodyFitting" class="defectName" style="display: none">
              <div>
                <button
                  type="button"
                  class="sub-defect-category bodyFitting-buttons"
                  style="background-color: #ffffff; color: black"
                  onclick="subdefectCategorySwitch(event,'body-fitting-1')"
                >
                  Body Fitting 1
                </button>
                <button
                  type="button"
                  class="sub-defect-category bodyFitting-buttons"
                  onclick="subdefectCategorySwitch(event,'body-fitting-2')"
                >
                  Body Fitting 2
                </button>
                <button
                  type="button"
                  class="sub-defect-category bodyFitting-buttons"
                  onclick="subdefectCategorySwitch(event,'body-fitting-others')"
                >
                  Body Fitting Others
                </button>
              </div>

              <div class="zone-division">
                <div id="body-fitting-1" class="bodyFitting">
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting1"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div
                  id="body-fitting-2"
                  class="bodyFitting"
                  style="display: none"
                >
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting2"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div
                  id="body-fitting-others"
                  class="bodyFitting"
                  style="display: none"
                >
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="bodyFitting_bodyFitting3"
                    value="7"
                  />
                  <p>7</p>
                </div>
              </div>
            </div>
            <div id="missingWrongPart" class="defectName" style="display: none">
              <div>
                <button
                  type="button"
                  class="sub-defect-category missingWrongPart-buttons"
                  style="background-color: #ffffff; color: black"
                  onclick="subdefectCategorySwitch(event,'missing-part')"
                >
                  Missing Part
                </button>
                <button
                  type="button"
                  class="sub-defect-category missingWrongPart-buttons"
                  onclick="subdefectCategorySwitch(event,'wrong-part')"
                >
                  Wrong Part
                </button>
              </div>

              <div class="zone-division">
                <div id="missing-part" class="missingWrongPart">
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_missingPart"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div
                  id="wrong-part"
                  class="missingWrongPart"
                  style="display: none"
                >
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="missingWrongPart_wrongPart"
                    value="7"
                  />
                  <p>7</p>
                </div>
              </div>
            </div>
            <div id="welding" class="defectName" style="display: none">
              <div>
                <button
                  type="button"
                  class="sub-defect-category welding-buttons"
                  style="background-color: #ffffff; color: black"
                  onclick="subdefectCategorySwitch(event,'welding-part-1')"
                >
                  Welding Part 1
                </button>
                <button
                  type="button"
                  class="sub-defect-category welding-buttons"
                  onclick="subdefectCategorySwitch(event,'welding-part-2')"
                >
                  Welding Part 2
                </button>
                <button
                  type="button"
                  class="sub-defect-category welding-buttons"
                  onclick="subdefectCategorySwitch(event,'welding-part-3')"
                >
                  Welding Part 3
                </button>
                <button
                  type="button"
                  class="sub-defect-category welding-buttons"
                  onclick="subdefectCategorySwitch(event,'welding-part-others')"
                >
                  Welding Part Others
                </button>
              </div>

              <div class="zone-division">
                <div id="welding-part-1" class="welding">
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart1"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div id="welding-part-2" class="welding" style="display: none">
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart2"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div id="welding-part-3" class="welding" style="display: none">
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPart3"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div
                  id="welding-part-others"
                  class="welding"
                  style="display: none"
                >
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="welding_weldingPartOthers"
                    value="7"
                  />
                  <p>7</p>
                </div>
              </div>
            </div>
            <div id="waterLeak" class="defectName" style="display: none">
              <div>
                <button
                  type="button"
                  class="sub-defect-category waterLeak-buttons"
                  style="background-color: #ffffff; color: black"
                  onclick="subdefectCategorySwitch(event,'water-leak-1')"
                >
                  Water Leak 1
                </button>
                <button
                  type="button"
                  class="sub-defect-category waterLeak-buttons"
                  onclick="subdefectCategorySwitch(event,'water-leak-2')"
                >
                  Water Leak 2
                </button>
                <button
                  type="button"
                  class="sub-defect-category waterLeak-buttons"
                  onclick="subdefectCategorySwitch(event,'water-leak-others')"
                >
                  Water Leak Others
                </button>
              </div>

              <div class="zone-division">
                <div id="water-leak-1" class="waterLeak">
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak1"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div id="water-leak-2" class="waterLeak" style="display: none">
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeak2"
                    value="7"
                  />
                  <p>7</p>
                </div>
                <div
                  id="water-leak-others"
                  class="waterLeak"
                  style="display: none"
                >
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="1"
                  />
                  <p>1</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="2"
                  />
                  <p>2</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="3"
                  />
                  <p>3</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="4"
                  />
                  <p>4</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="5"
                  />
                  <p>5</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="6"
                  />
                  <p>6</p>
                  <input
                    type="checkbox"
                    name="waterLeak_waterLeakOthers"
                    value="7"
                  />
                  <p>7</p>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="save-button" onclick="handleSave()">
            Save
          </button>
        </form>
      </div>
    </div>

    <script>
      function defectCategorySwitch(clickedDefect) {
        var i;
        var defectCategory = document.getElementsByClassName('defectName');

        //code block to displaying the selected defect division only
        for (i = 0; i < defectCategory.length; i++) {
          defectCategory[i].style.display = 'none';
        }
        document.getElementById(clickedDefect).style.display = 'block';

        //code block to highlight the selected defect button only
        var y = document.getElementsByClassName(event.target.className);
        for (i = 0; i < y.length; i++) {
          y[i].style.background = '#000000';
          y[i].style.color = '#ffffff';
        }
        event.target.style.background = '#ffffff';
        event.target.style.color = '#000000';
      }

      function subdefectCategorySwitch(event, clickedSubDefect) {
        var i;
        var subDefectCategory = document.getElementsByClassName(
          event.target.parentElement.parentElement.id
        );

        // code block to displaying the selected sub-defect division only
        for (i = 0; i < subDefectCategory.length; i++) {
          subDefectCategory[i].style.display = 'none';
        }
        document.getElementById(clickedSubDefect).style.display = 'block';

        //code block to highlight the selected sub-defect button only
        var y = document.getElementsByClassName(
          event.target.parentElement.parentElement.id + '-buttons'
        );
        for (i = 0; i < y.length; i++) {
          y[i].style.background = '#000000';
          y[i].style.color = '#ffffff';
        }
        event.target.style.background = '#ffffff';
        event.target.style.color = '#000000';
      }

      function handleSave() {
        if (confirm('Confirm saving') == true) {
          document.getElementById('defectLayerForm').submit();
        }
      }

      function makeChecked(event) {
        if (document.getElementById(event.target.className).checked) {
          document.getElementById(event.target.className).checked = false;
        } else {
          document.getElementById(event.target.className).checked = true;
        }
      }
    </script>
  </body>
</html>
