* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0%;
}
body {
  width: 100%;
  font-family: var(--font-family-base);
  background-color: #222831;
  color: #eeeeee;
}
.header {
  width: 100%;
  display: flex;
  height: 4.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393e46;
  color: #f0e3e3;
}
/* #filter {
  background-color: #393e46;
} */
#btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.button-logout {
  display: flex;
  align-items: center;
  padding-right: 2%;
  margin-right: 5%;
}

#adminAccessDeniedDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.adminAccessDeniedDivisionModalContent {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 25%;
}

/* TOOGLE SWITCH */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

#chart-condition-select-content {
  margin: 1.5rem;
}
.admin {
  color: #00adb5;
  margin-right: 10%;
  font-weight: 500;
  font-size: clamp(1.3rem, 2.2vw, 1.6rem);
}

.heading {
  padding-left: 1%;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.filtering-condition-content {
  max-width: 100%;
}
.filtering-condition-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form {
  width: 100%;
  padding-left: 2px;
  display: flex;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2f576e;
  color: #f0e3e3;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
.Date_Filter {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5%;
  grid-template-columns: 1fr 1fr;
}
.from-date-condition-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.to-date-condition-content {
  display: flex;
  margin-left: -20px;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
#from-date-condition-input,
#to-date-condition-input {
  background-color: #eeeeee;
  color: gray;
  width: 60%;
  font-size: medium;
  font-weight: 400;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
}
#filter-text {
  font-size: clamp(1.25rem, 2vw, 1.8rem);
}

#chart-condition-select-content-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -5%;
  gap: 5%;
}
.Empty_Tag {
  display: none;
}

#chart-condition-input {
  background-color: #eeeeee;
  color: rgb(67, 67, 67);
  max-width: 80%;
  font-size: medium;
  height: 30px;
  border-radius: 5px;
  padding: 1px;
}

#container {
  width: 100%;
}

.button_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 2px;
  padding: 2px;
  gap: 5px;
  margin-right: 5px;
}

/* ! Admin Card Portion Style */
.footer {
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}

#filter-container {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
  min-width: 50vw;
  min-height: 50vh;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
.card-toggle_container {
  /* display: flex; */
  align-items: baseline;
  justify-content: center;
}
.card-title-name {
  font-size: clamp(1.6rem, 2vw, 2rem);
  display: flex;
  justify-content: center;
}
#card-date {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
.card-from-date-condition-content {
  font-size: 1.25rem;
  margin: 1rem;
}
.card-to-date-condition-content {
  font-size: 1.25rem;
}
#from-date-condition-input-card,
#to-date-condition-input-card {
  background-color: #eeeeee;
  color: gray;
  border-radius: 5px;
  padding: 4px;
}
#from-date-condition-input,
#to-date-condition-input {
  background-color: #eeeeee;
  color: gray;
  border-radius: 5px;
  padding-left: 0.8rem;
}
#filter-text {
  font-size: clamp(1.25rem, 2vw, 1.8rem);
}
.Card-Report-heading {
  font-size: 1.25rem;
  display: inline-block;
  margin: 2px;
  padding: 4px;
}
#chart-condition-select-content {
  margin-left: -1rem;
  margin-top: 2rem;
}

#chart-condition-input-card {
  background-color: #eeeeee;
  border-radius: 5px;
  color: rgb(67, 67, 67);
  display: inline-block;
  font-size: 1.25rem;
  padding: 4px;
}
#container {
  width: 100%;
}
.form {
  width: 100%;
  padding-left: 2px;
  display: flex;
  height: 3.8rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2f576e;
  color: #f0e3e3;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  background: linear-gradient(to right, #2c3e50, #4ca1af);
}
.chart-condition {
  flex-direction: row;
}

.button_container {
  margin: 2px;
  padding: 2px;
}

/*! CSS for Responsive Design  */

@media screen and (max-width: 1024px) {
  .form {
    height: 5rem;
  }
  .Date_Filter {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 4px;
    padding: 2px;
    margin-left: -2%;
  }
  .from-date-condition-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }
  .to-date-condition-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }
  #from-date-condition-input {
    width: 60%;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
  }
  #to-date-condition-input {
    width: 55%;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
  }
  #chart-condition-select-content-1 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 3%;
    /* gap: 5%; */
  }

  #chart-condition-input {
    background-color: #eeeeee;
    color: rgb(46, 42, 42);
    max-width: 70%;
    font-size: medium;
    height: 30px;
    border-radius: 5px;
    padding: 3px;
  }
  .toggle_content {
    margin-left: -8%;
  }
  .button_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin: 2px;
    padding: 2px;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 700px) {
  .form {
    min-height: 8rem;
  }
  .Date_Filter {
    margin-top: -7%;
  }
  .toggle_content {
    position: relative;
    top: -2.5rem;
    margin-left: -12rem;
    flex-direction: row;
  }
  .Empty_Tag {
    display: block;
  }
  #chart-condition-select-content-1 {
    display: flex;
    position: relative;
    top: 2rem;
    right: 15rem;
  }
  .button_container {
    position: relative;
    top: 5%;
    left: -22%;
  }
}
@media screen and (max-width: 530px) {
  body {
    width: 120%;
  }
  #title-name-content {
    position: relative;
    top: -5%;
  }
  .toggle_content {
    top: -2.5rem;
    margin-left: -16.5rem;
    flex-direction: row;
  }
  .Empty_Tag {
    display: block;
  }
  #chart-condition-select-content-1 {
    top: 2.4rem;
    right: 15rem;
  }
  .button_container {
    top: 5%;
    left: -20%;
  }
}

@media screen and (max-width: 480px) {
  body {
    width: 120%;
    height: 100vh;
    background-color: #222831;
    color: #eeeeee;
    /* position: fixed; */
  }
  .header {
    width: 100%;
    display: flex;
    min-height: 4.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #393e46;
    color: #f0e3e3;
    position: relative;
  }

  .heading {
    padding-left: 1%;
    font-weight: 700;
    font-size: clamp(20px, 0.8vw, 1.5rem);
    /* width: 26px; */
  }

  #btn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    line-height: 28px;
  }
  .admin {
    color: #00adb5;
    margin-right: 10%;
    font-weight: 500;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
  }

  #btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
    width: 60px;
    height: 30px;
    font-size: 11px;
  }
  #from-date-condition-input-card,
  #to-date-condition-input-card {
    background-color: #eeeeee;
    color: gray;
    width: 80%;
    border-radius: 5px;
    padding: 4px;
    gap: 0px;
  }
  #chart-condition-select-content {
    margin-left: -0.5rem;
    margin-top: 1.2rem;
  }
  #card-submit {
    display: flex;
    align-items: center;
    margin: 2%;
    justify-content: center;
  }
}
