@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0%;
}
body {
  width: 100%;
  font-family: var(--font-family-base);
  background-color: #222831;
  color: #eeeeee;
}
.header {
  width: 100%;
  display: flex;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393e46;
  color: #f0e3e3;
}
#filter {
  background-color: #393e46;
}
#btn {
  display: flex;
  justify-content: end;
}
.button-logout {
  display: flex;
  align-items: center;
  padding-right: 2%;
  margin-right: 5%;
}
/* TOOGLE SWITCH */
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
.footer {
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
}
#date {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 2rem;
}
#chart-condition-select-content {
  margin: 1.5rem;
}
.admin {
  color: #00adb5;
  margin-right: 10%;
  font-weight: 500;
  font-size: clamp(1.3rem, 2.2vw, 1.6rem);
}
.heading {
  font-weight: 700;
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  padding-left: 1%;
}
.filter {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  margin-bottom: 1rem;
  font-weight: 500;
}
#from-date-condition-input-card,
#to-date-condition-input-card {
  background-color: #eeeeee;
  color: gray;
  border-radius: 5px;
  padding-left: 0.8rem;
}
#from-date-condition-input,
#to-date-condition-input {
  background-color: #eeeeee;
  color: gray;
  border-radius: 5px;
  padding-left: 0.8rem;
}
#filter-text {
  font-size: clamp(1.25rem, 2vw, 1.8rem);
}
#chart-condition-input,
#chart-condition-input-card {
  background-color: #eeeeee;
  border-radius: 5px;
  color: gray;
}
#container {
  width: 100%;
}
.form {
  width: 100%;
  padding-left: 2px;
  display: flex;
  height: 3.8rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2f576e;
  color: #f0e3e3;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  background: linear-gradient(to left, #2c3e50, #4ca1af);
}
.chart-condition {
  flex-direction: row;
}

.button_container {
  margin: 2px;
  padding: 2px;
}
