* {
  margin: 0px;
}

body {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nav-bar {
  width: 100%;
  height: 30%;
  background-color: rgb(29, 23, 23);
}

.app-name-div {
  padding: 10px;
}

#app-name {
  font-size: 250%;
  float: left;
  color: white;
}

.selected-message {
  text-align: center;
  padding: 14px;
  font-size: 120%;
  color: white;
}

.user-mode {
  float: right;
  padding: 10px;
}

#user-mode-name {
  float: left;
  font-size: 200%;
  color: #61dafb;
}

.button-logout-content {
  float: right;
}

.button-logout {
  color: white;
  background-color: black;
  border: 1px solid #64666a;
  border-radius: 4px;
  margin-top: 25%;
}

#title-name-content {
  margin-top: 2%;
}

#title-name-content {
  margin-top: 2%;
}

#go-back-icon {
  float: left;
  margin-left: 4%;
  margin-right: 3%;
  width: 3%;
}

#go-back-icon:hover {
  cursor: pointer;
}

#title-name {
  font-size: 200%;
  color: white;
}

.main-content {
  width: 60%;
  margin-left: 18%;
  /* margin-top: 1%; */
}

#first-layer-button1 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  margin-left: 33%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#first-layer-button2 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#first-layer-button3 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#first-layer-button4 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#first-layer-button5 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#first-layer-button6 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#first-layer-button7 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#first-layer-button8 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#first-layer-button9 {
  font-size: 130%;
  padding: 2%;
  margin: 2%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.form-content {
  cursor: pointer;
  width: 35%;
}
