* {
  margin: 0px;
}
body {
  max-width: auto;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.header {
  width: 100%;
  display: flex;
  min-height: 4.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393e46;
  color: #f0e3e3;
  position: relative;
}
#btn {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
}
#home-icon:hover {
  cursor: pointer;
}
.admin {
  color: #00adb5;
  margin-right: 10%;
  font-weight: 500;
  font-size: clamp(1.1rem, 2.2vw, 1.6rem);
}
.heading {
  padding-left: 1%;
  font-weight: 700;
  font-size: clamp(1.2rem, 2.2vw, 1.8rem);
}

.button-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 5%;
  width: 8rem;
  font-weight: 600;
  font-size: medium;
  height: 2.5rem;
  border-radius: 5px;
  color: #eeeeee;
  border-color: rgb(91, 97, 166);
}
.button-logout:hover {
  border-right-color: rgb(45, 56, 184);
}
.selected-message {
  text-align: center;
  line-height: 0.9;
  margin-left: 25%;
  padding: 14px;
  font-size: clamp(0.9rem, 1.2vw, 1.3rem);
  color: #eeeeee;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

#title-name-content {
  margin: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sub_container {
  display: flex;
  justify-content: start;
  margin: 2%;
  gap: 2rem;
  align-items: center;
}

#go-back-icon { 
  max-width: 7%;
}

#go-back-icon:hover {
  cursor: pointer;
}

#title-name {
  padding: 5px; 
  font-size: clamp(1.3rem, 2.2vw, 2rem);
  color: #f0e3e3;
}
#mode_status{
  margin-right: 2rem;
  padding: 5px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  margin:2% 15%  0 15%; 
}
.form-content {
  cursor: pointer;
  font-size: 120%;
  padding: 2%;
  margin: 5%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: #f0e3e3;
  text-align: center;
}
