* {
  margin: 0px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #222831;
  color: #eeeeee;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('hyrider.jpg');
  background-repeat: no-repeat;
  margin-bottom: 2%;
  background-size: 100%;
  background-position: center;
  background-position-y: 165px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  --webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  --moz-appearance: textfield;
}

/* Styling for header part which contain user_name App_Name and LOGOUT btn  */
.header {
  width: 100%;
  display: flex;
  min-height: 4.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #393e46;
  color: #f0e3e3;
  position: relative;
}
#btn {
  display: flex;
  justify-content: end;
  align-items: center;
}
.admin {
  color: #00adb5;
  margin-right: 8%;
  padding: 3%;
  font-weight: 500;
  font-size: clamp(1.1rem, 2vw, 1.9rem);
}
.heading {
  padding-left: 1%;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.button-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 5%;
  width: 8rem;
  font-weight: 600;
  font-size: medium;
  height: 2.5rem;
  border-radius: 5px;
  color: #eeeeee;
  border-color: rgb(91, 97, 166);
}
.button-logout:hover {
  border-right-color: rgb(45, 56, 184);
}

/* TODO ...........SIDE NAV BAR MENU................................................................ */

#navBarDivision{
  position: fixed;
  display: none;
  width: 17%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 90%;
  background-color: #00adb5;
}
.category{
    font-size: 140%;
    font-weight: 500;
    min-height: 8vh;
    display: flex;
    align-items: center;
    padding: 2px 10px;
}
#DataEntryDiv{
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-color: #075154 ;
}

#ReportGenerationDiv{
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

#AdministrationDiv{
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
/* ! End of Nav Side Bar Menu */

.form-content {
  margin-top: 2%;
}
#bodyNumberForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#bodyNumber {
  padding: 2px;
  margin: 2px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 500;
  color: #eeeeee;
  padding-right: 1%;
}
.enter,
.pass {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eeeeee;
  margin-left: 2%;
  width: 6rem;
  padding: 2%;
}
input[type='number'],
select {
  width: 20%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 110%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}
#body-number-enter-button:hover {
  transform: scale(0.97);
}
#body-number-pass-button:hover {
  transform: scale(0.97);
}
*/ #message-content {
  position: relative;
  color: rgb(249, 28, 28);
  margin-left: 40.5%;
  font-style: italic;
}

#body-number-submit-button {
  font-size: 120%;
  margin-left: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  color: white;
  background-color: black;
}

#body-number-submit-button:hover {
  cursor: pointer;
}

#adminAccessDeniedDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.adminAccessDeniedDivisionModalContent {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 25%;
}

#reportGenerationDeniedDivision {
  visibility: hidden; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.reportGenerationDeniedDivisionModalContent {
  background-color: #fefefe;
  color: black;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 25%;
}

/*! CSS for Responsive Design  */

@media screen and (max-width: 1024px) {
  #navBarDivision{
    position: fixed;
    display: none;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #00adb5;
  }
  .category{
      font-size: 130%;
      font-weight: 500;
      min-height: 7vh;
      display: flex;
      align-items: center;
      padding: 2px 10px;
  }
}

@media screen and (max-width: 768px) {
  #navBarDivision{
    position: fixed;
    display: none;
    width: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-color: #00adb5;
  }
  .category{
      font-size: 120%;
      font-weight: 500;
      min-height: 7vh;
      display: flex;
      align-items: center;
      padding: 2px 10px;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    height: 100vh;
    background-color: #222831;
    color: #eeeeee;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-image: url('hyrider.jpg');
    background-repeat: no-repeat;
    /* margin-bottom: 2%; */
    background-size: 130%;
    background-position: -30px 150px 0px 0px;
  }

  .header {
    width: 100%;
    display: flex;
    min-height: 4.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #393e46;
    color: #f0e3e3;
    position: relative;
  }

  .heading {
    padding-left: 1%;
    font-weight: 700;
    font-size: clamp(20px, 0.8vw, 1.5rem);
    /* width: 26px; */
  }

  #btn {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    line-height: 28px;
  }
  .admin {
    color: #00adb5;
    margin-right: 4%;
    position: relative;
    /* left: 2%; */
    font-weight: 500;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
  }

.button-logout {
  background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29);
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
  #navBarDivision{
    position: fixed;
    display: none;
    width: 45%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90%;
    background-color: #00adb5;
  }
  .category{
      font-size: 120%;
      font-weight: 500;
      min-height: 7vh;
      display: flex;
      align-items: center;
      padding: 2px 10px;
  }
  #bodyNumberForm {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #bodyNumber {
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 500;
    color: #eeeeee;
  }

  input[type='number'],
  select {
    width: 78%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: 110%;
    border: 1px solid #64666a;
    border-radius: 4px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    height: 30px;
  }

  .enter {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    height: 35px;
    font-size: 14px;
    text-align: center;
    margin-left: 48px;
  }

  .pass {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    height: 35px;
    font-size: 14px;
    text-align: center;
    margin-left: 48px;
  }

  #SMTopicElemet {
    color: rgb(255, 255, 255);
    margin-left: 4%;
    text-decoration: underline;
  }
}


@media screen and (max-width: 1280px) {
}
