* {
  margin: 0px;
}

body {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('hyrider.jpg');
  background-repeat: no-repeat;
  margin-bottom: 2%;
  background-size: 100%;
  background-position-y: -55%;
}

.nav-bar {
  width: 100%;
  height: 30%;
  background-color: rgb(29, 23, 23);
}

.app-name-div {
  padding: 10px;
}

#app-name {
  font-size: 250%;
  color: white;
}

.user-mode {
  float: right;
  padding: 10px;
}

#user-mode-name {
  float: left;
  font-size: 200%;
  color: #61dafb;
}

.button-logout-content {
  float: right;
}

.button-logout {
  color: white;
  background-color: black;
  border: 1px solid #64666a;
  border-radius: 4px;
  margin-top: 25%;
}

.form-content {
  margin-top: 2%;
  margin-left: 20%;
}

#bodyNumber {
  font-size: 200%;
  color: white;
  padding-right: 1%;
}

input[type='number'],
select {
  width: 20%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 110%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  box-sizing: border-box;
}

#body-number-submit-button {
  font-size: 120%;
  margin-left: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  padding-top: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  color: white;
  background-color: black;
}

#body-number-submit-button:hover {
  cursor: pointer;
}
