* {
  margin: 0px;
}

body {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nav-bar {
  width: 100%;
  height: 30%;
  background-color: rgb(29, 23, 23);
}

.app-name-div {
  padding: 10px;
}

#app-name {
  font-size: 250%;
  float: left;
  color: white;
}

.selected-message {
  text-align: center;
  padding: 14px;
  font-size: 120%;
  color: white;
}

.user-mode {
  float: right;
  padding: 10px;
}

#user-mode-name {
  float: left;
  font-size: 200%;
  color: #61dafb;
}

.button-logout-content {
  float: right;
}

.button-logout {
  color: white;
  background-color: black;
  border: 1px solid #64666a;
  border-radius: 4px;
  margin-top: 25%;
}
#title-name-content {
  margin-top: 2%;
}

#go-back-icon {
  float: left;
  margin-left: 4%;
  margin-right: 3%;
  width: 3%;
}

#go-back-icon:hover {
  cursor: pointer;
}

#title-name {
  font-size: 200%;
  color: white;
}

.main-content {
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
}

.form-content {
  cursor: pointer;
  width: 35%;
}

#second-layer-button-first-set1 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set2 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set3 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set4 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set5 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set6 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set7 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set8 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set9 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set10 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set11 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set12 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-second-set1 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  margin-left: 32%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set2 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#second-layer-button-second-set3 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set4 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#second-layer-button-second-set5 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set6 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-second-set7 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set8 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-second-set9 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-second-set10 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#second-layer-button-second-set11 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-second-set12 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
