* {
  margin: 0px;
}

body {
  width: 100%;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.header {
  width: 100%;
  display: flex;
  height: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #393e46;
  color: #f0e3e3;
  position: relative;
}
#btn {
  display: flex;
  align-items: center;
  text-align: center;
}
.admin {
  color: #00adb5;
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}
.heading {
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}
#home-icon {
  width: 3%;
  cursor: pointer;
}
.selected-message {
  text-align: center;
  padding: 14px;
  font-size: 120%;
  color: white;
}

#title-name-content {
  margin-top: 2%;
}

#go-back-icon {
  float: left;
  margin-left: 4%;
  margin-right: 3%;
  width: 3%;
}

#go-back-icon:hover {
  cursor: pointer;
}

#title-name {
  font-size: 200%;
  color: white;
}

.main-content {
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
}

.form-content {
  cursor: pointer;
  width: 35%;
}

#second-layer-button-first-set1 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set2 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set3 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set4 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set5 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set6 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set7 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set8 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set9 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set10 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-first-set11 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-first-set12 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-second-set1 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  margin-left: 32%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set2 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#second-layer-button-second-set3 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set4 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#second-layer-button-second-set5 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set6 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-second-set7 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
#second-layer-button-second-set8 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}

#second-layer-button-second-set9 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-second-set10 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
  float: right;
}
#second-layer-button-second-set11 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}

#second-layer-button-second-set12 {
  font-size: 130%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #64666a;
  border-radius: 4px;
  background-color: black;
  color: white;
}
