* {
  margin: 0px;
}

body {
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.nav-bar {
  width: 100%;
  background-color: rgb(29, 23, 23);
}

.app-name-div {
  padding: 10px;
}

#app-name {
  font-size: 250%;
  float: left;
  color: white;
}

.selected-message {
  text-align: center;
  padding: 14px;
  font-size: 120%;
  color: white;
}

.user-mode {
  float: right;
  padding: 10px;
}

#user-mode-name {
  float: left;
  font-size: 200%;
  color: #61dafb;
}

.button-logout-content {
  float: right;
}

.button-logout {
  color: white;
  background-color: black;
  border: 1px solid #64666a;
  border-radius: 4px;
  margin-top: 25%;
}

#title-name-content {
  margin-top: 2%;
}

#go-back-icon {
  float: left;
  margin-left: 4%;
  margin-right: 3%;
  width: 3%;
}

#go-back-icon:hover {
  cursor: pointer;
}

#title-name {
  width: 30%;
  font-size: 200%;
  color: white;
}

.main-content {
  width: 70%;
  margin-left: 22%;
  margin-top: 0.5%;
}

.defect-category-content {
}

.defect-title-name {
  font-size: 170%;
  color: white;
  margin-right: 7%;
  float: left;
}

.defect-category {
  font-size: 110%;
  background-color: black;
  color: white;
  padding: 1% 2% 1% 2%;
  float: left;
}

.defect-category:hover {
  cursor: pointer;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.sub-content {
  clear: left;
  /* margin-left: 2%; */
  padding-top: 2%;
}

.sub-defect-title-name {
  font-size: 170%;
  color: white;
  margin-right: 2%;
  float: left;
}

.sub-defect-category {
  font-size: 110%;
  background-color: black;
  color: white;
  padding: 1% 2% 1% 2%;
  float: left;
}

.sub-defect-category:hover {
  cursor: pointer;
  background-color: #ffffff !important;
  color: #000000 !important;
}

.surface,
.bodyFitting,
.missingWrongPart,
.welding,
.waterLeak {
  clear: left;
  margin-left: 2%;
  padding-top: 2%;
  color: black;
}

.zones-title-name {
  clear: left;
  font-size: 170%;
  color: white;
  margin-top: 1%;
  margin-left: 37%;
  float: left;
}

#zone-division1,
#zone-division2,
#zone-division3,
#zone-division4,
#zone-division5 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 7%;
  margin-left: 11%;
  width: 35%;
  height: 50%;
  position: absolute;
}

input[type='checkbox'] {
  float: left;
  margin-top: 1%;
  margin-right: 1%;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.save-reset-content {
  margin-top: 36%;
  margin-left: 73%;
  font-size: 100%;
  position: absolute;
  width: auto;
}

.reset-button {
  background-color: black;
  color: white;
  position: absolute;
  border: 1px solid #b6cbf5;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  margin-left: 100px;
  cursor: pointer;
}

.save-button {
  float: left;
  position: absolute;
  background-color: black;
  color: white;
  border: 1px solid #b6cbf5;
  border-radius: 4px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  margin-left: 20px;
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML210 {
  margin-top: 20%;
  width: 5%;
  margin-left: 5%;
  padding: 10% 10% 2% 10%;
  /* background-color: rgba(135, 207, 235, 0.563); */
  position: absolute;
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML210:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML211 {
  margin-top: 13%;
  width: 5%;
  margin-left: 30%;
  padding: 8% 10% 2% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML211:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML212 {
  margin-left: 55%;
  width: 5%;
  padding: 15% 10% 5% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML212:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML213 {
  margin-top: 24%;
  width: 5%;
  margin-left: 55%;
  padding: 10% 8% 10% 15%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML213:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML214 {
  margin-top: 27%;
  width: 5%;
  margin-left: 30%;
  padding: 2% 10% 12% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML214:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML215 {
  margin-top: 36%;
  width: 5%;
  margin-left: 5%;
  padding: 8% 10% 3% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML215:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML216 {
  margin-top: 48%;
  width: 5%;
  margin-left: 65%;
  padding: 2% 3% 6% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.LH_SHELL_BODY_MAIN-LINE_FENDER-LHSBML216:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML179 {
  margin-top: 20%;
  width: 5%;
  margin-left: 65%;
  padding: 10% 10% 2% 10%;
  /* background-color: rgba(135, 207, 235, 0.563); */
  position: absolute;
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML179:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML180 {
  margin-top: 13%;
  width: 5%;
  margin-left: 40%;
  padding: 8% 10% 2% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML180:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML181 {
  margin-left: 15%;
  width: 5%;
  padding: 15% 10% 5% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML181:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML182 {
  margin-top: 24%;
  width: 5%;
  margin-left: 12%;
  padding: 10% 8% 10% 15%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML182:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML183 {
  margin-top: 27%;
  width: 5%;
  margin-left: 40%;
  padding: 2% 10% 12% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML183:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML184 {
  margin-top: 36%;
  width: 5%;
  margin-left: 65%;
  padding: 8% 10% 3% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML184:hover {
  background-color: rgba(135, 207, 235, 0.563);
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML185 {
  margin-top: 48%;
  width: 5%;
  margin-left: 10%;
  padding: 2% 3% 6% 10%;
  position: absolute;
  /* background-color: rgba(135, 207, 235, 0.563); */
}

.RH_SHELL_BODY_MAIN-LINE_FENDER-RHSBML185:hover {
  background-color: rgba(135, 207, 235, 0.563);
}
